body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
  padding: 10px 20px;

}

.search-bar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;


}

.search-bar input{
  width: 30vw;
  padding: 12px;
  font-size: 1rem;
  margin: 0 auto;
}

.single-country{
    width: 30vw;
    margin: 5rem auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: white;


}

.many-countries{
    width: 30vw;
    margin: 1rem auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: white;
    padding: 10px;
}

.single-country img{

    width: 100%;
    height:auto;
    object-fit: cover;
    border-top-right-radius:  0.25rem;
    border-top-left-radius:  0.25rem;

}

.country-info{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 22px;

}

span{
  font-weight: 600;
  font-size: 1.2em;

}

.country-line-white{

  margin-top: 5px;
  background-color: white;
}

.country-line-blue{

  margin-top: 5px;
  background-color: lightblue;

}

@media screen and (max-width: 1200px) {

  .single-country{
    width: 80vw;

  }

  .search-bar input{
    width: 80vw;
  }

}

@media screen and (max-width: 700px) {

.single-country{
  width: 95vw;
  margin: 0 auto;

}

.search-bar input{
  width: 95vw;
}

}
